:root {
  /* Add universal fonts, colours ect here */
  --main-theme-color: black;
}

body {
  margin: 0;
  padding: 0;
}

/* Grid portfolio container section */
.portfolio-container {
  display: grid;
  font-family: "Quicksand", sans-serif;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 75px 200px 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "head nav nav nav"
    "hero hero hero hero"
    "a1 p1 p1 p1"
    "a2 wi1 wi1 wi1"
    "a2 wi1 wi1 wi1"
    "a2 wi2 wi2 wi2"
    "a2 wi3 wi3 wi3"
    "a3 cm cm cm"
    "a4 r r r"
    "footer footer footer footer";

  width: auto;
  overflow: hidden;
}

.container div {
  padding: 10px;
}

/* Header section */
header {
  background-color: var(--main-theme-color);
  color: #ffffff;
  display: flex;
  grid-area: head;
}

header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

header img {
  height: 50px;
  width: 50px;
  align-self: center;
  padding-left: 10%;
}

/* Nav section */
nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--main-theme-color);
  padding-right: 20px;
}

nav a {
  text-decoration: none;
  padding: 10px;
  color: #ffffff;
}

nav a:hover {
  text-decoration: underline;
}

/* Hero section */
.content-hero {
  grid-area: hero;
  background-image: url(../assets/images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.content-hero h2 {
  color: #ffffff;
  width: max-content;
  padding: 20px;
  margin: 80px 5px 10px 900px;
  background-color: rgba(0, 0, 0, 0.7);
}

#a1,
#a2,
#a3,
#a4 {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#a1 {
  grid-area: a1;
}

#a2 {
  grid-area: a2;
}

#a3 {
  grid-area: a3;
}

#a4 {
  grid-area: a4;
}

.paragraph1 {
  grid-area: p1;
  line-height: 2.5;
}

.paragraph1,
.work1,
.contact,
.resume,
p,
a {
  padding: 10px 30px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Images area */

/* Challenge 1 */
.work-img-1 {
  grid-area: wi1;
  background-image: url(/assets/images/02-portfolio-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-height: 525px;
  width: 85%;
  border: 4px blue solid;
  margin-bottom: 15%;
}

.work-img-1:hover {
  opacity: 0.5;
  cursor: grab;
}

.work-img-1 h2 {
  background-color: #ffd900c7;
  display: inline-block;
  padding: 25px;
  margin-top: 50%;
}

.work-img-1 a {
  padding-top: 375px;
  text-decoration: none;
  font-weight: bold;
  opacity: 0;
}

/* Calculator */
.work-img-2 {
  grid-area: wi2;
  background-image: url(/assets/images/02-portfolio-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-height: 200px;
  width: 42.5%;
  border: 4px blue solid;
}

.work-img-2 h1 {
  background-color: #ffd900c7;
  display: inline-block;
  padding: 25px;
  margin-top: 27.5%;
}

.work-img-2:hover {
  opacity: 0.5;
  cursor: grab;
}

/* Project 3 */

.work-img-3 {
  grid-area: wi3;
  background-image: url(/assets/images/02-portfolio-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-height: 200px;
  width: 42.5%;
  border: 4px blue solid;
}

.work-img-3 h1 {
  background-color: #ffd900c7;
  display: inline-block;
  padding: 10px;
  margin-top: 50%;
}

.contact {
  grid-area: cm;
}

.contact a {
  color: #000000;
}

.resume {
  grid-area: r;
}

.resume a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */
footer {
  grid-area: footer;
  display: flex;
  height: 300px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  background-color: var(--main-theme-color);
}

/* Media queries */

/* For Smartphones */
@media screen and (max-width: 414px) {
  /* Grid portfolio container section */

  .portfolio-container {
    display: grid;
    grid-template-rows: 50px 50px 200px repeat(11, 0.5fr);
    grid-template-columns: 100%;
    grid-template-areas:
      "head-m"
      "nav-m"
      "hero-m"
      "a1-m"
      "p1-m"
      "a2-m"
      "wi1-m"
      "wi2-m"
      "wi3-m"
      "a3-m"
      "cm-m"
      "a4-m"
      "r-m"
      "footer-m";
    overflow: hidden;
  }

  /* Header section */
  header {
    background-color: var(--main-theme-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    grid-area: head-m;
  }

  header h1 {
    padding-top: 15px;
  }

  header img {
    height: 40px;
    width: 40px;
    align-self: center;
    padding: 15px 0px 6px 15px;
  }

  /* Nav section */
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.15rem;
    background-color: var(--main-theme-color);
    grid-area: nav-m;
    height: 50px;
  }

  nav a {
    text-decoration: none;
    color: #ffffff;
  }

  nav a:hover {
    text-decoration: underline;
  }

  /* Hero section */
  .content-hero {
    grid-area: hero-m;
    background-image: url(/assets/images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 200px;
  }

  .content-hero h2 {
    color: #000000;
    width: 10px;
    padding: 20px;
  }

  #a1,
  #a2,
  #a3,
  #a4 {
    display: flex;
    justify-content: center;
    border: none;
    text-decoration: underline;
  }

  #a1 {
    grid-area: a1-m;
  }

  #a2 {
    grid-area: a2-m;
  }

  #a3 {
    grid-area: a3-m;
  }

  #a4 {
    grid-area: a4-m;
  }

  .paragraph1 {
    grid-area: p1-m;
    display: flex;
    padding-left: 30px;
  }

  .work1,
  .contact,
  .resume,
  p,
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Images area */

  .work-img-1 {
    grid-area: wi1-m;
    background-image: url(/assets/images/02-portfolio-4.jpg);
    background-repeat: no-repeat;
    background-size: 150%;
    height: 400px;
    max-height: 400px;
    width: auto;
    border: 4px blue solid;
  }

  .work-img-1:hover {
    opacity: 0.5;
    cursor: grab;
  }

  .work-img-1 h2 {
    background-color: #ffd900c7;
    display: inline-block;
    color: black;
    padding: 10px;
    margin-top: 80%;
  }

  .work-img-1 a {
    padding-top: 375px;
    text-decoration: none;
    font-weight: bold;
    opacity: 0;
  }

  .work-img-2 {
    grid-area: wi2-m;
    background-image: url(/assets/images/02-portfolio-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    max-height: 550px;
    width: auto;
    border: 4px blue solid;
  }

  .work-img-2 h1 {
    background-color: #ffd900c7;
    display: inline-block;
    padding: 10px;
    margin-top: 55%;
  }

  .work-img-2:hover {
    opacity: 0.5;
    cursor: grab;
  }

  .work-img-3 {
    grid-area: wi3-m;
    background-image: url(/assets/images/02-portfolio-3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    max-height: 550px;
    width: auto;
    border: 4px blue solid;
  }

  .work-img-3 h1 {
    background-color: #ffd900c7;
    display: inline-block;
    padding: 10px;
    margin-top: 50%;
  }

  .contact {
    grid-area: cm-m;
    font-size: 0.8rem;
  }

  .contact a {
    color: #000000;
  }

  .resume {
    grid-area: r-m;
  }

  .resume a {
    text-decoration: none;
  }

  /* Footer */
  footer {
    grid-area: footer-m;
    bottom: 0;
    display: flex;
    height: 250px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    background-color: var(--main-theme-color);
    position: sticky;
  }

  @media screen and (min-width: 1080px) and (max-width: 2000px) {
    .portfolio-container {
      display: grid;
      font-family: "Quicksand", sans-serif;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 75px 200px 1fr 1fr 1fr 1fr;
      grid-template-areas:
        "head nav nav nav"
        "hero hero hero hero"
        "a1 p1 p1 p1"
        "a2 wi1 wi1 wi1"
        "a2 wi1 wi1 wi1"
        "a2 wi2 wi2 wi2"
        "a3 cm cm cm"
        "a4 r r r"
        "footer footer footer footer";

      width: auto;
      overflow: hidden;
    }

    .container div {
      padding: 10px;
    }

    /* Header section */
    header {
      background-color: var(--main-theme-color);
      color: #ffffff;
      display: flex;
      grid-area: head;
    }

    header h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 20px;
    }

    header img {
      height: 50px;
      width: 50px;
      align-self: center;
      padding-left: 10%;
    }

    /* Nav section */
    nav {
      grid-area: nav;
      right: 200px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: var(--main-theme-color);
    }

    nav a {
      text-decoration: none;
      color: #ffffff;
      margin-right: 10px;
    }

    nav a:hover {
      text-decoration: underline;
    }

    /* Hero section */
    .content-hero {
      grid-area: hero;
      background-image: url(/assets/images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
    }

    .content-hero h2 {
      color: #ffffff;
      width: max-content;
      padding: 20px;
      margin: 80px 5px 10px 900px;
      background-color: rgba(0, 0, 0, 0.7);
    }

    #a1,
    #a2,
    #a3,
    #a4 {
      padding: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border-right: #000000 solid 2px;
    }

    #a1 {
      grid-area: a1;
    }

    #a2 {
      grid-area: a2;
    }

    #a3 {
      grid-area: a3;
    }

    #a4 {
      grid-area: a4;
    }

    .paragraph1 {
      grid-area: p1;
      line-height: 2.5;
    }

    .paragraph1,
    .work1,
    .contact,
    .resume,
    p,
    a {
      padding: 10px 30px 10px 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    /* Images area */

    /* Challenge 1 - surf report */
    .work-img-1 {
      grid-area: wi1;
      background-image: url(/assets/images/02-portfolio-4.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      max-height: 700px;
      width: 85%;
      border: 4px blue solid;
    }

    .work-img-1:hover {
      opacity: 0.5;
      cursor: grab;
    }

    .work-img-1 h1 {
      background-color: #ffd900c7;
      display: inline-block;
      padding: 25px;
      margin-top: 50%;
    }

    /* Calculator project */

    .work-img-2 {
      grid-area: wi2;
      background-image: url(/assets/images/02-portfolio-2.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      max-height: 200px;
      width: 42.5%;
      border: 4px blue solid;
    }

    .work-img-2 h1 {
      background-color: #ffd900c7;
      display: inline-block;
      padding: 25px;
      margin-top: 27.5%;
    }

    .work-img-2:hover {
      opacity: 0.5;
      cursor: grab;
    }

    /* Contact area */

    .contact {
      grid-area: cm;
    }

    .contact a {
      color: #000000;
    }

    /* Resume area */

    .resume {
      grid-area: r;
    }

    .resume a {
      text-decoration: none;
    }

    /* Footer */
    footer {
      grid-area: footer;
      display: flex;
      height: 300px;
      color: #ffffff;
      justify-content: center;
      align-items: center;
      background-color: var(--main-theme-color);
    }
  }
}
