:root {
  /* Add universal fonts, colours ect here */
  --main-theme-color: black;
}

body {
  margin: 0;
  padding: 0;
  /* width: auto; */
}

/* Media queries */

/* Grid portfolio container section */
.portfolio-container {
  display: grid;
  /* border: 1px solid red; */
  /* margin: 0 auto; */
  font-family: "Quicksand", sans-serif;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-template-rows: 75px 200px 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "head nav nav nav"
    "hero hero hero hero"
    "a1 p1 p1 p1"
    "a2 wi1 wi1 wi1"
    "a2 wi1 wi1 wi1"
    "a2 wi2 wi2 wi2"
    "a3 cm cm cm"
    "a4 r r r"
    "footer footer footer footer"
    ;
    
  /* row-gap: 5px; */
 
  width: auto;
  height: 100%;
  /* background-image: url(/images/compare-fibre-INNsF0Zz_kQ-unsplash.jpg); */
}

.container div {
  padding: 10px;
}

/* Header section */
header {
  background-color: var(--main-theme-color);
  color: #ffffff;
  display: flex;
  grid-area: head;
}

header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

header img {
    height: 50px;
    width: 50px;
    align-self: center;
    padding-left: 3%;
}

/* Nav section */
nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--main-theme-color);
}

nav a {
  text-decoration: none;
  padding: 10px;
  color: #ffffff;
}

nav a:hover {
  text-decoration: underline;
}

/* Hero section */
.content-hero {
  grid-area: hero;
  background-image: url(/images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.content-hero h2 {
  color: #ffffff;
  width: max-content;
  padding: 20px;
  margin: 80px 5px 10px 900px;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Main content area */

/* .info-content-container { */
  /* padding-top: 5%; */
  /* border: 2px solid orange; */
  /* line-height: 1; */
  /* grid-area: info; */
  /* margin: 0px 20%; */
  /* display: grid; */
/* } */

/* aside {
    /* grid-area: a; */
    /* line-height: 10; */
    /* padding-left: 20%;
    border-right: 2px solid black;
} */

.a1, .a2, .a3, .a4 {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.a1 {
    grid-area: a1;
}

.a2 {
    grid-area: a2;
}

.a3 {
    grid-area: a3;
}

.a4 {
    grid-area: a4;
}

.paragraph1 {
    grid-area: p1;
}

.paragraph1, .work1, .contact, .resume, p, a{
padding: 10px 30px 10px 10px;
display: flex;
align-items: center;
justify-content: flex-start;

}

/* Images area */

.work-img-1 {
    grid-area: wi1;
    background-image: url(/images/02-portfolio-4.jpg);  
    background-repeat: no-repeat;
    background-size: 100%;
    max-height: 525px;
    width: 85%;
    border: 4px blue solid;

}

.work-img-1 h1 {
    background-color: #ffd900c7;
    display: inline-block;
    padding: 25px;
    margin-top: 50%;
}

.work-img-2 {
    grid-area: wi2;
    background-image: url(/images/02-portfolio-2.jpg);  
    background-repeat: no-repeat;
    background-size: 100%;
    max-height: 200px;
    width: 42.5%;
    border: 4px blue solid;

}

.work-img-2 h1 {
    background-color: #ffd900c7;
    display: inline-block;
    padding: 25px;
    margin-top: 27.5%;
}
.contact {
    grid-area: cm;
}

.contact a {
    color: #000000;
}

.resume {
    grid-area: r;
}

.resume a {
    text-decoration: none;
}


/* Footer */
footer {
  grid-area: footer;
  display: flex;
  height: 200px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  background-color: var(--main-theme-color);
}