:root {
    /* Add universal fonts, colours ect here */
    --main-theme-color: #0096FF;

}

body {
    margin: 0;
}


/* Grid section */

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    font-family: 'Quicksand', sans-serif;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: 50px 1fr 1fr 100px;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;

    

}

.container div {
    padding: 10px;
    border: 1px solid #000000;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
}

.content-hero {
    grid-column-start: 1;
    grid-column-end: 4;
}






























/* Nav section
nav {
    display: flex;
    text-decoration: none;
    border: 1px solid black;
    justify-content: space-between;
    background-color: var(--main-theme-color);
}
nav h1 {
    padding-left: 15px;
}


nav .links {
    justify-content: flex-end;  
    border: 1px solid black;  
}

.links a {
   
    text-align: center;
    list-style: none;
    padding: 14px 15px;
    border: 1px solid black;

} */

/* Hero section */

