:root {
    /* Add universal fonts, colours ect here */
    --main-theme-color: #0096FF;

}


/* Grid section */

#grid-container {
    display: grid;
    border: 1px solid black;

}

/* Nav section */
nav {
    display: flex;
    text-decoration: none;
    border: 1px solid black;
    justify-content: space-between;
    background colour;


}

/* .h1-container {
   
    flex-direction: row;
    justify-content: flex-start;
    border: 1px solid black;  

    
} */

nav ul {
    justify-content: flex-end;  
    border: 1px solid black;  
}

nav ul li {
    display: flex;
    list-style: none;
    float: right;
    padding: 10px;
    /* border: 1px solid black; */

}


/* Hero section */

